.bg-greenyellow {
	background-color: #ccff00 ;
}

.headfont {
	font-family: "Open Sans", sans-serif;
}

.emphasisfont {
	font-family: "Montserrat", sans-serif;
}

.bodyfont {
	font-family: "Nunito", sans-serif;
}